pyTelegramBotAPI
requests
httpx
google
protobuf
pycryptodome
psutil
PyJWT
urllib3
protobuf-decoder
pytz
aiohttp
cfonts
requests
urllib3
python-telegram-bot
python-telegram-bot==21.10
APScheduler
aiosqlite
python-dotenv
cryptography